body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #2e2e2e;
    color: white;
    text-align: center;
    padding: 20px 0;
}

form input, form button {
    padding: 10px;
    margin: 10px;
    display: block;
    width: 200px;
}

button {
    cursor: pointer;
}

#board {
    margin-top: 20px;
}

.hidden {
    display: none;
}
